// Bootstrap Modal - The modal-open class is applied to the body element
.modal-open {
    // Kill the scroll on the body
    overflow: hidden;

    // Modal overflow
    .bs {
        .modal {
            overflow-x: hidden;
            overflow-y: auto;
        }
    }
}

// Bootstrap Modal - The modal-backdrop class is added when the modal is visible
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-modal-backdrop;
    background-color: $modal-backdrop-bg;

    // Fade for backdrop
    &.fade { opacity: 0; }
    &.show { opacity: $modal-backdrop-opacity; }
}
