/** Variables */
:root {
    --bs-dropdown-item-border-radius: 5px;
    --bs-tooltip-border-radius: 0.375rem;
    --bs-tooltip-max-width: 200px;
}

/** Floating-UI Element */
.bs.floating-ui {
    border-radius: var(--bs-dropdown-border-radius, 0.5rem);
    border-style: solid;
    border-width: .8px;
    margin: 0px;
    padding: 0px;
    inset: 0px auto auto 0px;
    position: absolute;
    z-index: 1100;

    &.floating-tooltip {
        border-radius: var(--bs-tooltip-border-radius);
        max-width: var(--bs-tooltip-max-width);
        text-align: center;
    }

    /* Add some padding if the Floating UI content is a dropdown */
    &.floating-dropdown {
        border-radius: var(--bs-dropdown-border-radius, 5px);
        min-width: var(--bs-dropdown-min-width, 10rem);
        padding: var(--bs-dropdown-padding-y, 0.5rem) var (--bs-dropdown-padding-x, 0);
        max-height: var(--bs-dropdown-max-height, 500px);
        overflow-y: auto;
    }

    &.floating-dropdown .dropdown-item {
        border-radius: var(--bs-dropdown-border-radius, 5px);

        :active {
            background-color: var(--sp-theme-primary, #0078d4);
        }

        :hover {
            background-color: var(--bs-dropdown-link-hover-bg, #faf9f8);
            color: var(--bs-dropdown-link-hover-color, #201f1e);
        }
    }

    /* Style the Floating UI arrow */
    >.arrow {
        border-style: solid;
        border-width: .8px;
        position: absolute;
        background: #222;
        color: var(--sp-primary-text, #333333);
        width: 8px;
        height: 8px;
        transform: rotate(45deg);
        z-index: -10;
    }

    /* Floating UI primary theme color */
    &[data-theme~='primary'],
    &[data-theme~='primary']>.arrow,
    &[data-theme~='primary'] .dropdown-item {
        background-color: var(--sp-theme-primary, #0078d4);
        color: var(--sp-white, #ffffff);
    }

    &[data-theme~='primary'] {
        border-color: var(--sp-theme-primary, #0078d4);

        .dropdown-item.active {
            background-color: var(--sp-white, #ffffff);
            color: var(--sp-theme-primary, #0078d4);
        }

        .dropdown-item:hover {
            background-color: var(--sp-theme-tertiary);
        }

        &[data-placement='top']>.arrow {
            border-bottom-color: var(--sp-theme-primary, #0078d4);
            border-right-color: var(--sp-theme-primary, #0078d4);
            border-top: none;
            border-left: none;
        }

        &[data-placement='bottom']>.arrow {
            border-top-color: var(--sp-theme-primary, #0078d4);
            border-left-color: var(--sp-theme-primary, #0078d4);
            border-bottom: none;
            border-right: none;
        }

        &[data-placement='left']>.arrow {
            border-top-color: var(--sp-theme-primary, #0078d4);
            border-right-color: var(--sp-theme-primary, #0078d4);
            border-bottom: none;
            border-left: none;
        }

        &[data-placement='right']>.arrow {
            border-bottom-color: var(--sp-theme-primary, #0078d4);
            border-left-color: var(--sp-theme-primary, #0078d4);
            border-top: none;
            border-right: none;
        }
    }

    /* Floating UI secondary theme color */
    &[data-theme~='secondary'],
    &[data-theme~='secondary']>.arrow,
    &[data-theme~='secondary'] .dropdown-item {
        background-color: var(--sp-info-icon, #605e5c);
        color: var(--sp-white, #ffffff);
    }

    &[data-theme~='secondary'] {
        border-color: var(--sp-theme-primary, #605e5c);

        .dropdown-item.active {
            background-color: var(--sp-white, #ffffff);
            color: var(--sp-info-icon, #605e5c);
        }

        .dropdown-item:hover {
            background-color: var(--sp-neutral-lighter);
            color: var(--sp-info-icon, #605e5c);
        }

        &[data-placement='top']>.arrow {
            border-bottom-color: var(--sp-info-icon, #605e5c);
            border-right-color: var(--sp-info-icon, #605e5c);
            border-top: none;
            border-left: none;
        }

        &[data-placement='bottom']>.arrow {
            border-top-color: var(--sp-info-icon, #605e5c);
            border-left-color: var(--sp-info-icon, #605e5c);
            border-bottom: none;
            border-right: none;
        }

        &[data-placement='left']>.arrow {
            border-top-color: var(--sp-info-icon, #605e5c);
            border-right-color: var(--sp-info-icon, #605e5c);
            border-bottom: none;
            border-left: none;
        }

        &[data-placement='right']>.arrow {
            border-bottom-color: var(--sp-info-icon, #605e5c);
            border-left-color: var(--sp-info-icon, #605e5c);
            border-top: none;
            border-right: none;
        }
    }

    /* Floating UI success theme color */
    &[data-theme~='success'],
    &[data-theme~='success']>.arrow,
    &[data-theme~='success'] .dropdown-item {
        background-color: var(--sp-success-icon, #107c10);
        color: var(--sp-white, #ffffff);
    }

    &[data-theme~='success'] {
        border-color: var(--sp-theme-primary, #107c10);

        .dropdown-item.active {
            background-color: var(--sp-white, #ffffff);
            color: var(--sp-success-icon, #107c10);
        }

        .dropdown-item:hover {
            background-color: var(--sp-neutral-lighter);
            color: var(--sp-success-icon, #107c10);
        }

        &[data-placement='top']>.arrow {
            border-bottom-color: var(--sp-success-icon, #107c10);
            border-right-color: var(--sp-success-icon, #107c10);
            border-top: none;
            border-left: none;
        }

        &[data-placement='bottom']>.arrow {
            border-top-color: var(--sp-success-icon, #107c10);
            border-left-color: var(--sp-success-icon, #107c10);
            border-bottom: none;
            border-right: none;
        }

        &[data-placement='left']>.arrow {
            border-top-color: var(--sp-success-icon, #107c10);
            border-right-color: var(--sp-success-icon, #107c10);
            border-bottom: none;
            border-left: none;
        }

        &[data-placement='right']>.arrow {
            border-bottom-color: var(--sp-success-icon, #107c10);
            border-left-color: var(--sp-success-icon, #107c10);
            border-top: none;
            border-right: none;
        }
    }

    /* Floating UI info theme color */
    &[data-theme~='info'],
    &[data-theme~='info']>.arrow,
    &[data-theme~='info'] .dropdown-item {
        background-color: var(--sp-accent, #8764b8);
        color: var(--sp-black, #000000);
    }

    &[data-theme~='info'] {
        border-color: var(--sp-theme-primary, #8764b8);

        .dropdown-item.active {
            background-color: var(--sp-black, #000000);
            color: var(--sp-accent, #8764b8);
        }

        .dropdown-item:hover {
            background-color: var(--sp-neutral-dark);
            color: var(--sp-accent, #8764b8);
        }

        &[data-placement='top']>.arrow {
            border-bottom-color: var(--sp-accent, #8764b8);
            border-right-color: var(--sp-accent, #8764b8);
            border-top: none;
            border-left: none;
        }

        &[data-placement='bottom']>.arrow {
            border-top-color: var(--sp-accent, #8764b8);
            border-left-color: var(--sp-accent, #8764b8);
            border-bottom: none;
            border-right: none;
        }

        &[data-placement='left']>.arrow {
            border-top-color: var(--sp-accent, #8764b8);
            border-right-color: var(--sp-accent, #8764b8);
            border-bottom: none;
            border-left: none;
        }

        &[data-placement='right']>.arrow {
            border-bottom-color: var(--sp-accent, #8764b8);
            border-left-color: var(--sp-accent, #8764b8);
            border-top: none;
            border-right: none;
        }
    }

    /* Floating UI warning theme color */
    &[data-theme~='warning'],
    &[data-theme~='warning']>.arrow,
    &[data-theme~='warning'] .dropdown-item {
        background-color: var(--sp-severe-warning-icon, #d83b01);
        color: var(--sp-white, #ffffff);
    }

    &[data-theme~='warning'] {
        border-color: var(--sp-theme-primary, #d83b01);

        .dropdown-item.active {
            background-color: var(--sp-white, #ffffff);
            color: var(--sp-severe-warning-icon, #d83b01);
        }

        .dropdown-item:hover {
            background-color: var(--sp-neutral-lighter);
            color: var(--sp-severe-warning-icon, #d83b01);
        }

        &[data-placement='top']>.arrow {
            border-bottom-color: var(--sp-severe-warning-icon, #d83b01);
            border-right-color: var(--sp-severe-warning-icon, #d83b01);
            border-top: none;
            border-left: none;
        }

        &[data-placement='bottom']>.arrow {
            border-top-color: var(--sp-severe-warning-icon, #d83b01);
            border-left-color: var(--sp-severe-warning-icon, #d83b01);
            border-bottom: none;
            border-right: none;
        }

        &[data-placement='left']>.arrow {
            border-top-color: var(--sp-severe-warning-icon, #d83b01);
            border-right-color: var(--sp-severe-warning-icon, #d83b01);
            border-bottom: none;
            border-left: none;
        }

        &[data-placement='right']>.arrow {
            border-bottom-color: var(--sp-severe-warning-icon, #d83b01);
            border-left-color: var(--sp-severe-warning-icon, #d83b01);
            border-top: none;
            border-right: none;
        }
    }

    /* Floating UI danger theme color */
    &[data-theme~='danger'],
    &[data-theme~='danger']>.arrow,
    &[data-theme~='danger'] .dropdown-item {
        background-color: var(--sp-error-icon, #a80000);
        color: var(--sp-white, #ffffff);
    }

    &[data-theme~='danger'] {
        border-color: var(--sp-theme-primary, #a80000);

        .dropdown-item.active {
            background-color: var(--sp-white, #ffffff);
            color: var(--sp-error-icon, #a80000);
        }

        .dropdown-item:hover {
            background-color: var(--sp-neutral-lighter);
            color: var(--sp-error-icon, #a80000);
        }

        &[data-placement='top']>.arrow {
            border-bottom-color: var(--sp-error-icon, #a80000);
            border-right-color: var(--sp-error-icon, #a80000);
            border-top: none;
            border-left: none;
        }

        &[data-placement='bottom']>.arrow {
            border-top-color: var(--sp-error-icon, #a80000);
            border-left-color: var(--sp-error-icon, #a80000);
            border-bottom: none;
            border-right: none;
        }

        &[data-placement='left']>.arrow {
            border-top-color: var(--sp-error-icon, #a80000);
            border-right-color: var(--sp-error-icon, #a80000);
            border-bottom: none;
            border-left: none;
        }

        &[data-placement='right']>.arrow {
            border-bottom-color: var(--sp-error-icon, #a80000);
            border-left-color: var(--sp-error-icon, #a80000);
            border-top: none;
            border-right: none;
        }
    }

    /* Floating UI light theme color - override Tippy default to match Bootstrap */
    &[data-theme~='light'],
    &[data-theme~='light']>.arrow,
    &[data-theme~='light'] .dropdown-item {
        background-color: var(--sp-neutral-lighter, #f3f2f1);
        color: var(--sp-black, #000000);
    }

    &[data-theme~='light'] {
        border-color: var(--sp-theme-primary, #f3f2f1);

        .dropdown-item.active {
            background-color: var(--sp-black, #000000);
            color: var(--sp-neutral-lighter, #f3f2f1);
        }

        .dropdown-item:hover {
            background-color: var(--sp-white);
            color: var(--sp-black, #000000);
        }

        &[data-placement='top']>.arrow {
            border-bottom-color: var(--sp-neutral-lighter, #f3f2f1);
            border-right-color: var(--sp-neutral-lighter, #f3f2f1);
            border-top: none;
            border-left: none;
        }

        &[data-placement='bottom']>.arrow {
            border-top-color: var(--sp-neutral-lighter, #f3f2f1);
            border-left-color: var(--sp-neutral-lighter, #f3f2f1);
            border-bottom: none;
            border-right: none;
        }

        &[data-placement='left']>.arrow {
            border-top-color: var(--sp-neutral-lighter, #f3f2f1);
            border-right-color: var(--sp-neutral-lighter, #f3f2f1);
            border-bottom: none;
            border-left: none;
        }

        &[data-placement='right']>.arrow {
            border-bottom-color: var(--sp-neutral-lighter, #f3f2f1);
            border-left-color: var(--sp-neutral-lighter, #f3f2f1);
            border-top: none;
            border-right: none;
        }
    }

    /* Floating UI light-border theme color - override Tippy default to match Bootstrap */
    &[data-theme~='light-border'],
    &[data-theme~='light-border']>.arrow,
    &[data-theme~='light-border'] .dropdown-item {
        background-color: var(--sp-white, #ffffff);
        color: var(--sp-primary-text, #333333);
    }

    &[data-theme~='light-border'] {
        border-color: var(--sp-theme-primary, #ffffff);

        .dropdown-item:hover {
            background-color: var(--sp-black);
            color: var(--sp-white, #ffffff);
        }

        .dropdown-item.active {
            background-color: var(--sp-primary-text, #333333);
            color: var(--sp-white, #ffffff);
        }

        &[data-placement='top']>.arrow {
            border-bottom-color: var(--sp-theme-primary, #ffffff);
            border-right-color: var(--sp-theme-primary, #ffffff);
            border-top: none;
            border-left: none;
        }

        &[data-placement='bottom']>.arrow {
            border-top-color: var(--sp-theme-primary, #ffffff);
            border-left-color: var(--sp-theme-primary, #ffffff);
            border-bottom: none;
            border-right: none;
        }

        &[data-placement='left']>.arrow {
            border-top-color: var(--sp-theme-primary, #ffffff);
            border-right-color: var(--sp-theme-primary, #ffffff);
            border-bottom: none;
            border-left: none;
        }

        &[data-placement='right']>.arrow {
            border-bottom-color: var(--sp-theme-primary, #ffffff);
            border-left-color: var(--sp-theme-primary, #ffffff);
            border-top: none;
            border-right: none;
        }
    }

    /* Floating UI dark theme color */
    &[data-theme~='dark'],
    &[data-theme~='dark']>.arrow,
    &[data-theme~='dark'] .dropdown-item {
        background-color: var(--sp-neutral-dark, #201f1e);
        color: var(--sp-white, #ffffff);
    }

    &[data-theme~='dark'] {
        .dropdown-item.active {
            background-color: var(--sp-white, #ffffff);
            color: var(--sp-neutral-dark, #201f1e);
        }

        .dropdown-item:hover {
            background-color: var(--sp-neutral-lighter);
            color: var(--sp-white, #ffffff);
        }

        &[data-placement='top']>.arrow {
            border-bottom-color: var(--sp-neutral-dark, #201f1e);
            border-right-color: var(--sp-neutral-dark, #201f1e);
            border-top: none;
            border-left: none;
        }

        &[data-placement='bottom']>.arrow {
            border-top-color: var(--sp-neutral-dark, #201f1e);
            border-left-color: var(--sp-neutral-dark, #201f1e);
            border-bottom: none;
            border-right: none;
        }

        &[data-placement='left']>.arrow {
            border-top-color: var(--sp-neutral-dark, #201f1e);
            border-right-color: var(--sp-neutral-dark, #201f1e);
            border-bottom: none;
            border-left: none;
        }

        &[data-placement='right']>.arrow {
            border-bottom-color: var(--sp-neutral-dark, #201f1e);
            border-left-color: var(--sp-neutral-dark, #201f1e);
            border-top: none;
            border-right: none;
        }
    }

    /* Floating UI SharePoint theme color */
    &[data-theme~='sharepoint'],
    &[data-theme~='sharepoint']>.arrow,
    &[data-theme~='sharepoint'] .dropdown-item {
        background-color: var(--sp-theme-dark, #005a9e);
        color: var(--sp-white, #ffffff);
    }

    &[data-theme~='sharepoint'] {
        border-color: var(--sp-theme-primary, #005a9e);

        .dropdown-item.active {
            background-color: var(--sp-white, #ffffff);
            color: var(--sp-theme-dark, #005a9e);
        }

        .dropdown-item:hover {
            background-color: var(--sp-theme-dark, #005a9e);
            color: var(--sp-white, #ffffff);
        }

        &[data-placement='top']>.arrow {
            border-bottom-color: var(--sp-theme-dark, #005a9e);
            border-right-color: var(--sp-theme-dark, #005a9e);
            border-top: none;
            border-left: none;
        }

        &[data-placement='bottom']>.arrow {
            border-top-color: var(--sp-theme-dark, #005a9e);
            border-left-color: var(--sp-theme-dark, #005a9e);
            border-bottom: none;
            border-right: none;
        }

        &[data-placement='left']>.arrow {
            border-top-color: var(--sp-theme-dark, #005a9e);
            border-right-color: var(--sp-theme-dark, #005a9e);
            border-bottom: none;
            border-left: none;
        }

        &[data-placement='right']>.arrow {
            border-bottom-color: var(--sp-theme-dark, #005a9e);
            border-left-color: var(--sp-theme-dark, #005a9e);
            border-top: none;
            border-right: none;
        }
    }
}