/* Panel Sizes */

// Small
.panel-sm.modal-dialog {
    left: 75vw;
    width: 25vw;
}

// Medium
.panel-md.modal-dialog {
    left: 50vw;
    width: 50vw;
}

// Large
.panel-lg.modal-dialog {
    left: 25vw;
    width: 75vw;
}

// Extra Large
.panel-xl.modal-dialog {
    left: 10vw;
    width: 90vw;
}